.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
}

.form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
}

.form button[type="submit"] {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form button[type="submit"]:hover {
  background-color: #005f6b;
}

.form-message {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  color: #008cba;
}
