.Home_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  width: 400px;
  background-color: rgb(45, 222, 80);
  border-radius: 5%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://img.etimg.com/thumb/width-640,height-480,imgsize-80276,resizemode-1,msid-90166894/wealth/invest/mf-portfolio-doctor-kumar-should-reduce-number-of-funds-allocation-to-gold/invest17-getty.jpg");
  background-size: cover;
  height: 100vh;
}

.Home_input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(191, 26, 26);
  font-size: 1rem;
  width: 80%;
  margin-bottom: 1rem;
}
.Home_button {
  background-color: #0070f3;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.toggleContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.toggleContainer span {
  margin-right: 10px;
}







